body {
    justify-content: center;
    align-items: center;
    text-align: center;
}
div {

    justify-content: center;
    align-items: center;
    border-style: solid;
}

li {
    display: inline-block;
    margin: 20px;
}
li button{
    display: block;

}

.buy-me {
    color:red;
}